<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>epiSERVEus</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	  	<!--[if IE]>
	      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  	<![endif]-->
		 <link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		
	    #parse($template)
	    
  </body>
  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/jquery.bxslider.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</html>
