<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>epiSERVEus</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel='stylesheet' href='/css/jquery.bxslider.css'>
	 <link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		
	    #parse($template)
	    
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.bxslider.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</html>
